body{
    font-family:-apple-system,"Helvetica Neue",Arial,"PingFang SC","lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
        color: #818a91;
}
a:hover{

        color: #5cb85c;
 }

p {
    color:#333;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}
.navbar-brand{
    font-size: 18px;
    font-weight: 800;
}
.nav-item{
    font-weight: 800;
}
.title_home{
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.home_list{
    line-height: 30px;
}

.navbar {
    margin-bottom: 20px;
}
.card-header{
    font-weight: 500;
    color: #333;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#5cb85c
}
